__pycache__/simulated_anneling.cpython-38.pyc
__pycache__/A_estrella.cpython-38.pyc
MejorandoAlgoritmos/__pycache__/A_estrella.cpython-39.pyc
MejorandoAlgoritmos/__pycache__/almacen.cpython-39.pyc
MejorandoAlgoritmos/__pycache__/graficar.cpython-39.pyc
MejorandoAlgoritmos/__pycache__/LayoutAlmacen.cpython-39.pyc
MejorandoAlgoritmos/__pycache__/leerOrdenes.cpython-39.pyc
MejorandoAlgoritmos/__pycache__/multi_A_estrella.cpython-39.pyc
MejorandoAlgoritmos/__pycache__/TempleSimulado.cpython-39.pyc
__pycache__/genetic.cpython-39.pyc
.vscode/settings.json
TP3/EJ2y3/._MLP_Clasificacion.py
